<div class="page-header">
	<h1>Edit profile</h1>
</div>

<%= form_tag user_path(current_user), method: :put,
																			class: 'form-horizontal' do %>
	<div class='well'>
		<div class='control-group'>
			<%= label_tag 'phone', 'Phone:', class: 'control-label' %>
			<div class='controls'>
				<%= text_field_tag 'phone', @user.phone %>
			</div>
		</div>

		<div class='control-group'>
			<%= label_tag 'alerts[]', 'Alerts:', class: 'control-label' %>
			<div class='controls'>		
				<% @follows.each do |f| %>
					<label class='checkbox'>
						<% args = { user_id: @user.id, instagram_id: f.id } %>
						<% existing_alert = @alerts.find_by_instagram_id(f.id) %>
						<% if existing_alert %>
							<%= check_box_tag 'alerts[]',
																nil,
																true,
																disabled: true,
																class: 'control-group' %>
							#<%= f.username %>
							<%= link_to 'delete', user_alert_path(@user, existing_alert.id),
																		method: :delete,
																		class: 'btn' %>
						<% else %>
							<%= check_box_tag 'alerts[]',
																f.id,
																@user.alerts.alert_exists?(args),
																class: 'control-group' %>
							#<%= f.username %>
						<% end %>
					</label>
				<% end %>
			</div>
		</div>

		<div class='control-group'>
			<div class='controls'>
				<%= submit_tag 	'Update account', class:'btn' %>
				<%= link_to 'Delete my account', user_path(@user),
																				 method: :delete,
																				 data: { confirm: 'Are you sure?' },
																				 class: 'btn' %>
			</div>
		</div>
	</div>
<% end %>
