<h1><%= @username %>'s feed</h1>
<!--
<p>@feed.data.keys: <%= @feed.data.first.keys %></p>
<p>@feed.data.images.keys: <%= @feed.data.first.images.keys %></p>
-->

<% @feed.data.each do |post| %>
	<div class="post well">
		<h3>#<%= post.user.username %> <small>says...</small></h3>
		<img src="<%= post.images.low_resolution.url %>">
		<p><%= post.caption.text %></p>
	</div>
<% end %>